.userInfo{
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 60px;
    width: 354px;
    background: #fff;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%); 
    display: flex;
    flex-direction: column;
    scroll-padding: 20px;
}

@media screen and (max-width:364px){
    .userInfo{
        right: 0;
        width: 100%;
    }
}

.line{
    width: 100%;
    height: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 5px 0;
}

.hide{
    visibility: hidden;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 33px;
}

.user_logo{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_pic{
    cursor: pointer;
    background: #fff;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_pic > div {
    background: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera{
    width: 16px !important;
    height: 16px !important;
}

.avatar{
    width:80px !important;
    height: 80px !important;
}

.user_text{
    margin: 10px  0 4px 0;
}

.user_text p{
    font-family: "Poppins";
    text-align: center;
}
.name_text{
    font-weight: 500;
    font-size: 16px;
}

.gmail_text{
    font-size: 13px;
    color: rgba(0,0,0,0.7);
}

.button{
    all: unset;
    padding: 8px 13px;
    min-width: 200px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.17);
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Poppins";    
    border-radius: 4px;
    letter-spacing: -.3px;
}

.button:hover{
    background: rgba(0,0,0,0.03);
}

.rounded{
    border-radius: 18px !important;
}

.gmails{
    border-top:  1px solid rgba(0, 0, 0, 0.12);
    border-bottom:  1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
}
.gmail{
    width: 100%;
    padding: 12px 25px;
    cursor: pointer;
}
.gmail:hover{
    background: rgba(0, 0, 0, 0.034);
}
.gmail_content{
    display: flex;
    gap: 12px;
    align-items: center;
}

.pic{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic_avatar{
    width: 100% !important;
    height: 100% !important;
}

.gmail_text_content .title {
    font-size: 13px;
    font-family: "Poppins";
    letter-spacing: .3px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
}

.gmail_text_content .subtitle{
    font-size: 12px;
}

.signOut{
    padding: 15px 0;
    text-align: center;
}

.privacy{
    display: flex;justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.privacy > div {
    display: flex;
    font-weight: "Poppins";
    font-size: 12px;
    gap: 2px;
    width: 100%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.74);
    align-items: center;
}

.point{
    background-color: rgba(0, 0, 0, 0.452);
    width: 3.2px;
    height: 3.2px;
    border-radius: 50%;
}

.privacy_item{
    padding: 2px 6px;
    border-radius: 2px;
    cursor: pointer;
}

.privacy_item:hover{
    background-color: rgba(0, 0, 0, 0.04);
}